<!DOCTYPE html>
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class=".bg-light">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>myTunes</title>
</head>
<body>

<!--Navbar. Including a form with a search input field and a submit button. The form has the action /search which sends the page
to searchview when submit is pressed with help of the MusicController where there is a /search RequestMapping with GET. -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="/" data-abc="true">&nbsp&nbsp&nbsp  myTunes</a>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
            <div class="d-flex justify-content-center">
                <div class="col-sm">
                    <!--when the user writes something in the searchfield and presses search, th:name is set to what is typed.
                    This is then passed to the corresponding RequestMapping of the MusicController set in the form th:action.Calling
                     the controller and sets the attribute to what is typed by the user.
                    -->
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" th:name="name" required> <!--required to avoid empty search-->
                </div>
                <div>&nbsp&nbsp</div>
                <div class = "col-sm">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</nav>

<!--Displays 5 random tracks. It gets the name of the tracks for each track in tracks, recieved by the MusicController with a call to the getter.-->
<div class="p-3">
<h4 class="d-flex justify-content-center display-4">Tracks</h4>
<div class="row">
    <div class="col-sm-4" th:each="track:${tracks}">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title" th:text="${track.getName()}"></h5>
            </div>
        </div>
    </div>
</div>
</div>

<!--Displays 5 random genres. It gets the name of the genre for each genre in genres, recieved by the MusicController with a call to the getter.-->
<div class="p-3">
<h4 class="d-flex justify-content-center display-4">Genres</h4>
<div class="row">
    <div class="col-sm-4" th:each="genre:${genres}">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title" th:text="${genre.getName()}"></h5>
            </div>
        </div>
    </div>
</div>
</div>

<!--Displays 5 random artists. It gets the name of the artist for each artist in artists, recieved by the MusicController with a call to the getter.-->
<div class="p-3">
<h4 class="d-flex justify-content-center display-4">Artists</h4>
<div class="row">
    <div class="col-sm-4" th:each="artist:${artists}">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title" th:text="${artist.getName()}"></h5>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>