<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
    <title>myTunes</title>
</head>
<body>

<!--Navbar identical to the one in index file. It is put here also, to let the user to complete back-to-back searches.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="/" data-abc="true">&nbsp&nbsp&nbsp myTunes</a>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
            <div class="d-flex justify-content-center">
                <div class="col-sm">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" th:name="name" required> <!--required to avoid empty search-->
                </div>
                <div>&nbsp&nbsp</div>
                <div class = "col-sm">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</nav>

<!--Displays the tracks found from the search to the user. And for each of the tracks found it displays its attributes from the getters of TrackFound model-->
<h4 class="d-flex justify-content-center display-4">Tracks</h4>
<div class="p-3 row">
    <div class="col-sm-4" th:each="track:${tracksFound}">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title" th:text="'Artist:&nbsp;'+${track.getArtist()}"></h5>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="'Title:&nbsp;'+${track.getName()}"></h5>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="'Album:&nbsp;'+${track.getAlbum()}"></h5>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="'Genre:&nbsp;'+${track.getGenre()}"></h5>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>